/* Custom Header For {{page_route}} */
{%if header_settings%}
{% if page_route %}
.{{page_route}} .go1-cms-header{
    background-color: {{header_settings.header_background}};
    padding-top:{{header_settings.header_padding}};
    padding-bottom:{{header_settings.header_padding}};
    {%if header_settings.enable_header_border%}
        border:1px solid {{header_settings.header_border_color}};
    {%endif%}
    {%if header_settings.header_shadow%}
    box-shadow: 0 0 5px #ddd;
    {%endif%}
}
.{{page_route}} .go1-cms-header .logo{
    height: {{header_settings.logo_height}};
}

    {%if header_settings.enable_top_menu%}
    .{{page_route}} .go1-cms-top-bar{
        background-color: {{header_settings.top_menu_bg}};
        padding-top:{{header_settings.top_bar_padding}};
        padding-bottom:{{header_settings.top_bar_padding}};
        color:{{header_settings.top_text_color}};
        font-size:{{header_settings.top_text_size}};
        {% if header_settings.sticky_on_top %}
            position:sticky;
            top:0;
            z-index:999;
        {% endif %}
    }

     .go1-cms-top-bar span{
          color:{{header_settings.top_text_color}};
          font-size:{{header_settings.top_text_size}};
    }

    {%endif%}
    {%if header_settings.sticky_header%}
        .{{page_route}} .sticky__header .go1-cms-header{
            background-color: {{header_settings.sticky_header_background}};
            box-shadow: 0 0 5px #ddd;
        }

    {%endif%}
    .{{page_route}} .transparent_sticky .go1-cms-header{
        position: fixed!important;
        width: 100%!important;
        left: 0;
        top: 0;
        z-index: 99;
          background-color: {{header_settings.sticky_header_background}};
    }
        .{{page_route}} .transparent_scroll .go1-cms-header{
            position: absolute;
            z-index: 99;
            width: 100%;
        }
        .{{page_route}} .absolute_class{
    position: relative;
}
     .{{page_route}} .go1-cms-menu{
        display: flex;
        {%if header_settings.menu_alignment=="Left"%}
        justify-content: flex-start;
        {%endif%}
         {%if header_settings.menu_alignment=="Center"%}
        justify-content: center;
        {%endif%}
         {%if header_settings.menu_alignment=="Right"%}
         flex: 1;
    justify-content: flex-end;
        {%endif%}
    }
    .{{page_route}} .go1-cms-menu li.menu-item {
        display: inline-block;
    }
    .{{page_route}} .go1-cms-menu > li > a{
        padding: {{header_settings.menu_item_spacing}};
    }
    .{{page_route}} .desktop__header .go1-cms-menu li a{
        line-height: {{header_settings.line_height}};
        letter-spacing: {{header_settings.letter_spacing}};
        font-size: {{header_settings.font_size}};
        font-weight: {{header_settings.font_weight}};
        color: {{header_settings.menu_text_color}};
        {%if header_settings.font_family%}
            font-family:{{header_settings.font_family}};
        {%endif%}
        white-space: inherit;
        vertical-align: middle;text-decoration: none;
    }
      .{{page_route}} .go1-cms-header.transparent_header {
    box-shadow: none !important;
}
     .{{page_route}} .desktop__header .go1-cms-menu li a:hover{
        color: {{header_settings.menu_hover_color}};
     }
     /* .{{page_route}} .go1-cms-menu li a.menu_after::after{
        background-color: {{header_settings.menu_hover_color}};
     } */
      .{{page_route}} .go1-cms-dropdown{
        background-color: {{header_settings.dropdown_background_color}} !important;
    position: absolute;
    transition: all 0.25s ease 0s;
    z-index: 999;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    max-height:300px;
     

    }
    .{{page_route}} .go1-cms-dropdown a{
        color: {{header_settings.dropdown_menu_color}} !important;
        min-width: 220px;
      padding: 15px 10px;

     }
      .{{page_route}} .go1-cms-dropdown a:hover{
        color: {{header_settings.dropdown_menu_hover_color}} !important;
        background-color:{{header_settings.dropdown_menu_hover_bg_color}} !important;
     }
       .{{page_route}} .go1-cms-dropdown .sub__children{
      position: absolute;
      transition: all 0.25s ease 0s;
      z-index: 999;
      /* right: -270px;
      width: 270px; */
      left: 100%;
      min-width: 220px;
      top: 0;
      box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
      background-color: {{header_settings.dropdown_background_color}} !important;
      max-height:300px;
      overflow-y:auto;  overflow-x: hidden;
    }

     @media (max-width: {{ mobile_width }}){
         .{{page_route}} .mobile__header .go1-cms-menu a{
        padding: {{header_settings.menu_padding}} ;
        line-height: {{header_settings.m_line_height}} ;
        letter-spacing: {{header_settings.m_letter_spacing}} ;
        font-size: {{header_settings.m_font_size}} ;
        font-weight: {{header_settings.m_font_weight}} ;
        color: {{header_settings.m_link_color}} ;
        {%if header_settings.m_font_family%}
            font-family:{{header_settings.m_font_family}} ;
        {%endif%}
    }
     .{{page_route}} .mobile__header .go1-cms-menu a:hover{
        color: {{header_settings.m_hover_color}} ;
     }
     
     .{{page_route}} .mobile__header .go1-cms-header .logo{
        height: {{header_settings.m_logo_height}} ;
    }

    {% if header_settings.mobile_menu_background %}
    .mobile_menu.go1-cms-menu{
        background-color: {{header_settings.mobile_menu_background}} ;
    }   
    #dl-menu ul li{
        background-color: {{header_settings.mobile_menu_background}} ;
    }
    {% endif %}
    .dl-menuwrapper li>a:after{
        {% if header_settings.m_link_color %}
            color: {{header_settings.m_link_color}} ;
        {% endif %}
    }
    .dl-menuwrapper li.dl-back:after{
        {% if header_settings.back_button_text_color %}
            color: {{header_settings.back_button_text_color}} ;
        {% endif %}
    }
    .dl-menuwrapper li.dl-back>a{
        {% if header_settings.back_button_background %}
            background:{{header_settings.back_button_background}} ;
        {% endif %}
        {% if header_settings.back_button_text_color %}
            color: {{header_settings.back_button_text_color}} ;
        {% endif %}
    }
    
    .dl-menuwrapper li.dl-back:after{
        {% if header_settings.back_button_margin %}
            margin:{{header_settings.back_button_margin}} ;
        {% endif %}
    }
     }

.go1-cms-menu a:hover{
    color: {{header_settings.menu_hover_color}};
}

{% else %}
@media (max-width: {{ mobile_width }}){
    .mobile__header .go1-cms-menu a{
   padding: {{header_settings.menu_padding}};
   line-height: {{header_settings.m_line_height}};
   letter-spacing: {{header_settings.m_letter_spacing}};
   font-size: {{header_settings.m_font_size}};
   font-weight: {{header_settings.m_font_weight}};
   color: {{header_settings.m_link_color}};
   {%if header_settings.m_font_family%}
       font-family:{{header_settings.m_font_family}};
   {%endif%}
}
.mobile__header .go1-cms-menu a:hover{
   color: {{header_settings.m_hover_color}};

}
.mobile__header .go1-cms-header .logo{
   height: {{header_settings.m_logo_height}};
}

{% if header_settings.mobile_menu_background %}
.mobile__header .mobile_navbar{
   background-color: {{header_settings.mobile_menu_background}};
}   
#dl-menu ul li{
   background-color: {{header_settings.mobile_menu_background}};
}
{% endif %}
.dl-menuwrapper li>a:after{
   {% if header_settings.m_link_color %}
       color: {{header_settings.m_link_color}};
   {% endif %}
}
.dl-menuwrapper li.dl-back:after{
   {% if header_settings.back_button_text_color %}
       color: {{header_settings.back_button_text_color}};
   {% endif %}
}
.dl-menuwrapper li.dl-back>a{
    {% if header_settings.back_button_background %}
        background:{{header_settings.back_button_background}};
    {% endif %}
    {% if header_settings.back_button_text_color %}
       color: {{header_settings.back_button_text_color}};
   {% endif %}
}

.dl-menuwrapper li.dl-back:after{
    {% if header_settings.back_button_margin %}
        margin:{{header_settings.back_button_margin}};
    {% endif %}
}
}

.go1-cms-menu a:hover{
   color: {{header_settings.menu_hover_color}};
}

{%endif%}
{%endif%}  