[data-route^="Form/Web Page Builder"] .modal-backdrop.show {
	z-index: 9999;
}
[data-route^="Form/Web Page Builder"] .modal.fade.show,.popover {
	z-index: 9999 !important;
}
.ui-helper-hidden-accessible {
    display: none;
}