<table class="sm:bg-white bg-gray-100" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="mx-5" align="center" valign="top">
      <table cellpadding="0" cellspacing="0" role="presentation" width="600px">
        <tbody>
          <tr>
            <td class="p-8 pt-10 text-center text-gray-900">
              {% if image_path %}
              <div>
                <img src="{{ image_path }}" alt="Logo" class="h-6 mx-auto" />
              </div>
              {% endif %}
            </td>
          </tr>
          <tr>
            {% block content %}{% endblock %}
          </tr>
          <tr>
            <td class="py-8 text-center text-gray-500 text-sm">
              Email này được gửi bởi MBW CMS
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>