{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/base.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>
            <strong class="text-lg">Mã đơn hàng: {{order_code}}</strong>
        </p>
        <table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
            <thead>
                <tr style="text-transform: uppercase;">
                    <th style="border: 1px solid black;padding:5px">Sản phẩm</th>
                    <th style="border: 1px solid black;padding:5px">Đơn giá</th>
                    <th style="border: 1px solid black;padding:5px">Số lượng</th>
                    <th style="border: 1px solid black;padding:5px">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td style="border: 1px solid black;padding:5px">{{ item.item_name }}</td>
                    <td style="border: 1px solid black;padding:5px">{{ item.rate }} VND/{{ item.uom }}</td>
                    <td style="border: 1px solid black;padding:5px">{{ item.qty }}</td>
                    <td style="border: 1px solid black;padding:5px">{{ item.amount }} VND</td>
                </tr>
                {% endfor %}
                <tr style="font-weight: bold;">
                    <td colspan="3" style="border: 1px solid black;padding:5px">Tổng tiền</td>
                    <td style="border: 1px solid black;padding:5px">{{ grand_total }} VND</td>
                </tr>
            </tbody>
        </table>
        <p><strong>Xem chi tiết tại: </strong><a href="{{ redirect_to }}">{{ redirect_to }}</a></p>
        <p>
            <strong>* Lưu ý: </strong>Đây là email thông báo, vui lòng không trả lời
            email này. Xin cám ơn!
        </p>
        <p>
            * Bạn nhận được email này vì đã đăng ký sử dụng sản phẩm/dịch vụ của MBW
            CMS.
        </p>
    </div>
</td>

{% endblock %}