{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/base.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>
            <strong>Bạn đã đăng ký tài khoản thành công!</strong>
        </p>
        <p>Từ bây giờ, bạn có thể truy cập vào tài khoản của mình tại <a href="{{ redirect_to }}">{{ redirect_to }}</a>
            để khám phá và sử dụng các dịch vụ mà chúng tôi cung cấp.</p>
        <p>
            <strong>* Lưu ý: </strong>Đây là email thông báo, vui lòng không trả lời
            email này. Xin cám ơn!
        </p>
        <p>
            * Bạn nhận được email này vì đã đăng ký sử dụng sản phẩm/dịch vụ của MBW
            CMS.
        </p>
    </div>
</td>

{% endblock %}