{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/base.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>
            <strong class="text-lg">Ứng viên mới Anh(Chị): {{full_name}}</strong>
        </p>
        <p><strong>Số điện thoại: </strong>{{ phone_number }}</p>
        <p><strong>Email: </strong>{{ email }}</p>
        <p><strong>Xem chi tiết tại: </strong><a href="{{ redirect_to }}">{{ redirect_to }}</a></p>
        <p>
            <strong>* Lưu ý: </strong>Đây là email thông báo, vui lòng không trả lời
            email này. Xin cám ơn!
        </p>
        <p>
            * Bạn nhận được email này vì đã đăng ký sử dụng sản phẩm/dịch vụ của MBW
            CMS.
        </p>
    </div>
</td>

{% endblock %}